.app__navbar {
  position: fixed;
  left: 0;
  top:  0;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__navbar-logo {
  align-items: center;
  background-color: var(--color-crimson);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-family: var(--font-alt);
  height: 70px;
  justify-content: space-evenly;
  width: 100%;
}

.app__navbar-list {
  background-color: var(--color-crimson);
  display: flex;
  flex-direction: column;
  padding: 1rem .7rem;
  flex-grow: 1;
}
